{% extends 'base.html' %}


{% block css %}

{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
{% endblock %}

{% block content-panel %}

<h3 class="page-header">CDN域名列表</h3>
<h3 style="color: #1e8582">加速域名个数：{{ result.TotalCount }}</h3>
  {% for domain in result.Domains %}
        <li style="list-style-type:none" ><span class="text-muted" style="color: #3089c7"><h4>{{ domain }}</h4></span></li>
  {% endfor %}



<hr>

<div class="row placeholders">
    <div class="col-md-4">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" ><a href="{% url 'f5_cdn_file' %}">URL刷新</a></li>
          <li role="presentation" class="active"><a href="#">目录刷新</a></li>
          <li role="presentation"><a href="{% url 'f5_get_result' %}">查询操作记录</a></li>
        </ul>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
          <div class="alert alert-info" role="alert" align="center" id="success_info" style="display:none"></div>
         <div class="alert alert-info" role="alert" align="center" id="success_info" style="display:none"></div>
         <div class="alert alert-info" role="alert" align="center" id="error_info" style="display:none"></div>
                 <div class="col-md-6">
                   <h4 style="color: #080504">输入刷新缓存的目录路径：</h4>
                    <hr>
{#                     <form enctype="multipart/form-data" action="{% url 'get_file_resurl' %}" method="POST">{% csrf_token %}#}
                     <textarea id="file_path" type="" class="form-control" name="cmd_args" placeholder="如：http://jia1-res.jiajia1.com/image/，刷新全站请输入http://jia1-res.jiajia1.com/，请用/结尾，建议尽量不要刷新全站。"></textarea><br>
                     <input class="btn btn-primary " type="button" value="执行" onclick="getDate()">
                     </form>
                 </div>
          </div>
          </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    function relaod(){
        window.cleanData(GetTaskResultInterval);
    }
    function getDate() {
        var file_path = $("#file_path").val();
        $.ajax({
            url: "{% url 'get_directory_result' %}",
            type: "POST",
            dataType: "json",
            data: {"file_path": file_path},
            success: function (d) {
                $('#success_info').show();
                $('#success_info').html(d);
                function reload(){
                     window.location.reload();
                    }
//                    延迟3秒执行reload刷新函数
                setTimeout(reload, 6000);
                 },
            error:function (e) {
                $('#error_info').show();
                $('#error_info').html(e.responseText);
            }
        });
    }
</script>
{% endblock %}
